<!-- miapp/templates/miapp/admin_dashboard.html -->
{% extends "admin/base.html" %}

{% block extrastyle %}
{{ block.super }}
<!-- Agrega aquí estilos adicionales si es necesario -->
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Bienvenido al panel de administración</h1>
    <h2>Tablas</h2>
    <ul>
        <!-- Agrega un enlace a cada tabla/modelo aquí -->
        <li><a href="{% url 'admin:gestion_almacenes_producto_changelist' %}">Agregar Producto</a>
        </li>
    </ul>
    <h2>Enlaces personalizados</h2>
    <ul>
        <li><a href="{% url 'registrar_producto' %}">Registrar producto</a></li>
        <!-- Agrega un enlace a la nueva página de visualización -->
        <li><a href="{% url 'admin:pedidos_productos' %}">Ver pedidos y productos</a></li>
    </ul>
</div>
{% endblock %}
