{% extends 'base.html' %}

{% block content %}

{% load myfilters %}
  <main class="container form-signin w-100 m-auto">
    <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
    {{ form.non_field_errors }}
  
      <div class="form-floating mb-3">
        {{form.username|addclass:'form-control'}}
        {{form.username.label_tag}}
        {{ form.username.errors }}
      </div>
      <div class="form-floating mb-3">
        {{form.password|addclass:'form-control'}}
        {{form.password.label_tag}}
        {{ form.password.errors }}
        <span class="helptext">{{ form.password.help_text }}</span>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesion</button>
    </form>
    <p><a href="{% url 'register' %}">Registrate aqui</a></p>
  </main>
{% endblock %}


