<nav class="navbar navbar-expand-lg navbar-dark bg-primary position">
    <a class="navbar-brand" href="{% url 'home' %}">Portal de ventas {% if user.is_authenticated %}Hi {{request.user}}{% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- Cambiamos ml-auto a ms-auto aquí -->
        <li class="nav-item">
          <a class="nav-link" href="#">Carrito</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cuenta
            </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
          </ul>       
        </li>
      </ul>
    </div>
  </nav>
