{% extends "admin/base.html" %}

{% block content %}
<h1>Pedidos y productos</h1>

<!-- Formulario de búsqueda -->
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Buscar</button>
</form>

<table>
    <tr>
        <th>Pedido</th>
        <th>Producto</th>
        <th>Posición</th>
    </tr>
    {% for pedido_productos in pedidos_productos_list %}
        {% for producto in pedido_productos.productos %}
            <tr>
                <td>{{ pedido_productos.pedido }}</td>
                <td>{{ producto.producto }}</td>
                <td>{{ producto.producto.productoposicion_set.first.posicion }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
