{% extends "base.html" %}
{% block title %}Detalle producto{% endblock %}
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="ruta/a/imagen-del-producto.jpg" class="img-fluid" alt="Imagen del producto">
      <!--<img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid">-->
    </div>
    <div class="col-md-6">
      <h2>{{ nombre_referencia }}</h2>
      <h3>Precio: ${{ producto.precio }}</h3>
      <ul>
        <!--<li><strong>Referencia:</strong> {{ producto.referencia }}</li>-->
        <li><strong>Proveedor:</strong> {{ producto.proveedor }}</li>
        <li><strong>Cantidad en stock:</strong> {{ producto.cantidad_stock }}</li>
        <li><strong>Cantidad mínima de reaprovisionamiento:</strong> {{ producto.cantidad_minima_reaprovisionamiento }}</li>
        <li><strong>Peso por unidad:</strong> {{ producto.peso_por_unidad }} kg</li>
      </ul>
      <form>
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="{{ producto.cantidad_stock }}" required>
          <small class="form-text text-muted">Cantidad máxima disponible: {{ producto.cantidad_stock }}</small>
        </div>
        <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </form>
    </div>
  </div>
</div>
{% endblock %} 


